/* PHASE 0: Sidebar */
.profile-picture {
    display: block;
    margin-top: -100px;
    position: relative;
    border: solid black 1px;
    border-radius: 100%;
}

.profile-nav li {
    font-weight: bold;
    /* border-bottom: solid black 1px; */
}

.profile-info h2 {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
/* .profile-picture strong {
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    border: solid black 1px;
    color: white;
    background-color: rgb(57, 255, 57);
    transform: rotate(-45deg) translateX(-5px);
    box-shadow: 5px;

} */