<h1>All Our Cats!</h1>

<a href='<%= new_cat_url %>'> Add a New Cat </a>

<ul>
    <% @cats.each do |cat| %> 
        <li>
            <%= render 'cat', cat: cat, action: :index %>
        </li>
    <% end %>
</ul>